#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --docdir=\$${prefix}/share/doc/procserv

override_dh_auto_install:
	dh_auto_install
	# Remove extra ChangeLog and COPYING files installed by upstream make
	rm $(CURDIR)/debian/procserv/usr/share/doc/procserv/ChangeLog
	rm $(CURDIR)/debian/procserv/usr/share/doc/procserv/COPYING
